__pycache__/form_dialog_ui.cpython-312.pyc
__pycache__/main_window_ui.cpython-312.pyc
64_lib/Copy 64-bit native libraries here.txt
64_lib/thorlabs_ccd_edt_camera_link.dll
64_lib/thorlabs_ccd_fenrir.dll
64_lib/thorlabs_ccd_pleora_ebus.dll
64_lib/thorlabs_ccd_tsi_sdk.dll
64_lib/thorlabs_ccd_tsi_usb.dll
64_lib/thorlabs_tsi_camera_sdk.dll
64_lib/thorlabs_tsi_color_processing_vector_avx2.dll
64_lib/thorlabs_tsi_color_processing.dll
64_lib/thorlabs_tsi_demosaic_vector_avx2.dll
64_lib/thorlabs_tsi_demosaic.dll
64_lib/thorlabs_tsi_logger.cfg
64_lib/thorlabs_tsi_loggerx.dll
64_lib/thorlabs_tsi_LUT.dll
64_lib/thorlabs_tsi_mono_to_color_processing.dll
64_lib/thorlabs_tsi_polarization_processor_vector_avx2.dll
64_lib/thorlabs_tsi_polarization_processor_vector_avx512.dll
64_lib/thorlabs_tsi_polarization_processor.dll
64_lib/thorlabs_tsi_usb_hotplug_monitor.dll
64_lib/thorlabs_tsi_zelux_camera_device.dll
__pycache__/windows_setup.cpython-312.pyc
stitched_image_3.png
stitched_image_further_optimized.png
stitched_image_high_res.png
stitched_image_high_res1.png
stitched_image_optimized.png
stitched_image_optimized2.png
stitching.py
__pycache__/camera.cpython-312.pyc
__pycache__/controller.cpython-312.pyc
__pycache__/ptychography.cpython-312.pyc
